@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --cero: #f9f8f8;
    --dark: #343c41;
    --dark2: rgb(31 41 55);
    --dark2hover: rgb(60, 70, 84);
    --dark3: #515558;
    --primario: #256d85;
    --danger: #b74848;
    --check: #38ab59;
    --gris: #cdd2d4;
    --warnning: #ece25d;
    --neutral: #8ca9a2;
}

.vivo {
    border: 2px solid white;
    animation-duration: 2.8s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes fade {
    0% {
        border-color: #CC4746;
    }

    20% {
        border-color: #CC4746;
    }

    50% {
        border-color: #CC4746;
    }

    70% {
        border-color: white;
    }

    100% {
        border-color: #CC4746;
    }
}

.colored-toast.swal2-icon-success {
    background-color: #318275!important;
    color: #f9f8f8 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #b74848 !important;
    color: #f9f8f8 !important;
}

