@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --cero: #f9f8f8;
    --dark: #343c41;
    --dark2 : rgb(31 41 55);
    --dark3: #515558;
    --primario: #256d85;
    --danger: #b74848;
    --check: #38ab59;
    --gris: #cdd2d4;
    --warnning: #ece25d;
    --neutral: #8ca9a2;
}